body{
    margin: 0px;
}
header{
    display: flex;
    top:0;
    width: 100%;
    background-color:coral;
    justify-content: space-between;
    position: fixed;
    color:white;
    padding: 10px;
    height: 30px;
    align-items: center;
}
.title{
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    font-style: bold;
    transition: 0.5s;
}
.title:hover{
    font-size:25px;
    transition: 0.3s;
}
nav a{
    padding: 30px 25px 14px;
    text-decoration: none;
    color:white;
    font-size: 17px;
    transition: 0.3s;
}
nav a:hover{
    background-color:lemonchiffon;
    transition:0.6s;
    color:black;
    font-size: 20px;
}
section.home{
    background:url("https://cdn.rri.co.id/berita/Ranai/o/1745458569247-kbrn_2/0vigmmtw88q335g.jpeg");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 700px;
    padding-top: 100px;
}
section.about{
    background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("file:///C:/Users/USER/Downloads/BG%20LANTERN.jpg");
    height: 700px;
    background-repeat: no-repeat;
    width: 100%;
    background-size:cover;
}
section.product{
    background: url("file:///C:/Users/USER/Downloads/zingkong.PNG");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 700px;
}
section.contacts{
    height: 700px;
    background-repeat: no-repeat;
    width:100%;
    background-size:cover;
    background-attachment: fixed;
}
footer{
    height: 50px;
    background-color: rgb(48, 51, 54);
}
section.home div{
    text-align: center;
    color: black;
    margin: auto;
    width: 70%;
    padding: 70px;
}
section.home .hello{
    font-size: 30px;
}
section.home a{
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    box-shadow: 0px 0px 3px;
    border-radius: 20px;
}
section.about div{
    color: white;
    text-align:center;
    margin:auto;
    width:70%;
}
section.about img{
    height: 200px;
    align-items: center;
    justify-content: center;
    padding: 80px;
}


section.product{
    background: url("file:///C:/Users/USER/Downloads/zingkong-pica.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 700px;
    align-items: center;
}
section.product .container{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    box-shadow: 3px;
}
section.product .container .card{
    background-color: white;
    text-align: center;
    padding: 0px;
    width:200px;
    height: 495px;
    margin:2px;
    border-radius: 20px;
    border: 7px solid black;
    justify-items: center;
}
section.product .container .card img{
    width:100%;
}
section.product .container .card a{
    color:black;
    padding: 5px 20px;
    text-decoration: none;
    box-shadow: 0px 0px 3px;
    border-radius: 20px;
    cursor: pointer;
    transition:0.2s;
}
section.product .container .card a:hover{
    background-color: lightgray;
    transition:0.3s;
}
section.contacts{
    background-color: black;
    height: 600px;
}
section.contacts .card{
    margin:auto;
    color:white;
    text-align: center;
    padding-top: 100px;
    width:400px;
}
section.contacts .card img{
    width:200px;
}
.card:hover{
    scale: 100%;
    transition: 0.6s;
}
.card:not(:hover){
    scale: 70%;
    transition:0.5s;
}
.subcon{
    font-size: 30px;
}